<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <pagename>
        {% block pagename %}
        <h1>Главная страница</h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
        <h2><a href="http://127.0.0.1:8000/platform">Главная</a></h2><br>
        <h2><a href="http://127.0.0.1:8000/platform/news/">Новости</a></h2><br>
        <h2><a href="http://127.0.0.1:8000/games">Магазин</a></h2><br>
        <h2><a href="http://127.0.0.1:8000/cart">Корзина</a></h2>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
        {% endblock %}
    </content>
</body>
</html>